<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>

    <!-- Bootstrap CSS -->
    {% load static %}
      <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css">
      <link rel="stylesheet" href="{% static 'bootstrap/css/tagsinput.css' %}" type="text/css">
      <link rel="stylesheet" href="{% static 'clahub.css' %}" type="text/css">
      <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}" type="text/css">


  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Image and text -->
  <a class="navbar-brand" href="{% url 'home' %}">
    <img src="{% static 'logo/CLAHub_logo_Large.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
    CLAHub
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{% url 'CE:home_page' %}" id="CEnavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Culture Events
        </a>
        <div class="dropdown-menu" aria-labelledby="CEnavbarDropdown">
          <a class="dropdown-item" href="{% url 'CE:home_page' %}">CE Home</a>
          <a class="dropdown-item" href="{% url 'CE:alphabetical' %}">Alphabetical</a>
          <a class="dropdown-item" href="{% url 'CE:new' %}">Add a CE</a>
        </div>
      </li>

      <a class="nav-item nav-link" href="{% url 'CE:OCM_home' %}">Culture <span class="sr-only"></span></a>

      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="{% url 'lexicon:main' %}" id="lexiconDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lexicon <span class="sr-only"></span></a>
      <div class="dropdown-menu" aria-labelledby="lexiconDropdown">
      <a class="dropdown-item" href="{% url 'lexicon:main' %}">Imengis <span class="sr-only"></span></a>
      <a class="dropdown-item" href="{% url 'lexicon:matat' %}">Matat <span class="sr-only"></span></a>
      <a class="dropdown-item" href="{% url 'lexicon:review-now' %}">Review list <span class="sr-only"></span></a>
      <a class="dropdown-item" href="{% url 'lexicon:review-literacy' %}">Literacy review list <span class="sr-only"></span></a>
      <a class="dropdown-item" href="{% url 'lexicon:export' %}">Export <span class="sr-only"></span></a>
      </div>
      </li>

      <a class="nav-item nav-link" href="{% url 'CE:list_tags' %}">Tags <span class="sr-only"></span></a>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{% url 'people:home' %}" id="peopleDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          People
        </a>
        <div class="dropdown-menu" aria-labelledby="peopleDropdown">
          <a class="dropdown-item" href="{% url 'people:home' %}">People Home</a>
          <a class="dropdown-item" href="{% url 'people:alphabetically' %}">Alphabetically</a>
          <a class="dropdown-item" href="{% url 'people:new' %}">Add person</a>
          <a class="dropdown-item" href="{% url 'people:recent_medical' %}">Recent medical</a>
        </div>
      </li>

    </div>

      <div class="navbar-item ml-md-auto">
      {% if user.is_authenticated %}
        <p id="login-status">Logged in as <strong>{{ user.username }}</strong></p>
        <a href="{% url 'admin:index' %}" class="btn btn-light">Admin</a>
        <a href="{% url 'logout' %}" class="btn btn-light" >Logout</a>

      </div>
      {% else %}
      <p id="login-status">You are not logged in</p>
      <p>
      <a href="{% url 'login' %}" class="btn btn-light" >Login</a>
        </p>
      {% endif %}
    </div>

</nav>
    <link rel="shortcut icon" type="image/png" href="{% static 'logo/CLAHub_logo_Favicon.png'   %}">

  {% include 'messages.html' %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.tagsinput.js' %}"></script>

  <div class="container-fluid pb-4">
  {% block page_content %}{% endblock %}
  </div>
  <br>
  </body>
</html>

