{% extends 'base.html'%}

{% block page_content %}
<div class="container-fluid">

<h2>What is Markdown?</h2>

<p><a href="http://daringfireball.net/projects/markdown/">Markdown</a> is a way to style text on the web. You control the display of the document; formatting words as bold or italic, adding images, and creating lists are just a few of the things we can do with Markdown. Mostly, Markdown is just regular text with a few non-alphabetic characters thrown in, like <code class="language-plaintext highlighter-rouge">#</code> or <code class="language-plaintext highlighter-rouge">*</code>.</p>

<h2>Syntax guide</h2>

<p>Here’s an overview of Markdown syntax that you can use on certain CLAHub fields.</p>

<h3>Headers</h3>

<div class="language-markdown highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="gh"># This is an &lt;h1&gt; tag</span>
<span class="gu">## This is an &lt;h2&gt; tag</span>
<span class="gu">###### This is an &lt;h6&gt; tag</span>
</code></pre></div></div>

<h3>Emphasis</h3>

<div class="language-markdown highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="ge">*This text will be italic*</span>
<span class="ge">_This will also be italic_</span>

<span class="gs">**This text will be bold**</span>
<span class="gs">__This will also be bold__</span>

<span class="ge">_You **can** combine them_</span>
</code></pre></div></div>

<h3>Lists</h3>

<h4>Unordered</h4>

<div class="language-markdown highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="p">*</span> Item 1
<span class="p">*</span> Item 2
<span class="p">  *</span> Item 2a
<span class="p">  *</span> Item 2b
</code></pre></div></div>

<h4>Ordered</h4>

<div class="language-markdown highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="p">1.</span> Item 1
<span class="p">1.</span> Item 2
<span class="p">1.</span> Item 3
<span class="p">   1.</span> Item 3a
<span class="p">   1.</span> Item 3b
</code></pre></div></div>

<h3>Images</h3>

<div class="language-markdown highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="p">![</span><span class="nv">GitHub Logo</span><span class="p">](</span><span class="sx">/images/logo.png</span><span class="p">)</span>
Format: !<span class="p">[</span><span class="nv">Alt Text</span><span class="p">](</span><span class="sx">url</span><span class="p">)</span>
</code></pre></div></div>

<h3>Links</h3>

<div class="language-markdown highlighter-rouge"><div class="highlight"><pre class="highlight"><code>http://github.com - automatic!
<span class="p">[</span><span class="nv">GitHub</span><span class="p">](</span><span class="sx">http://github.com</span><span class="p">)</span>
</code></pre></div></div>

<h3>Blockquotes</h3>

<div class="language-markdown highlighter-rouge"><div class="highlight"><pre class="highlight"><code>As Kanye West said:
<span class="gt">
&gt; We're living the future so</span>
<span class="gt">&gt; the present is our past.</span>
</code></pre></div></div>


<small>*Markdown explanation from <a href="https://guides.github.com/features/mastering-markdown/">Github</a></small>
</div>
{% endblock %}