<div class="container pt-2">
<h3 class="headword" id="{{word.kgu}}">
    {% if word.type == "word" %}
    <a href="{% url 'lexicon:word-detail' word.pk %}">{{word.kgu}}</a>
    {% elif word.type == "phrase" %}
    <a href="{% url 'lexicon:phrase-detail' word.pk %}">{{word.kgu}}</a>
    {% endif %}
    {% if word.checked %} {% include "lexicon/partial/green_tick.html" %} {% endif %}</h3>

    <p>
    {% if word.pos %} <strong>{{word.get_pos_display}}</strong> {% endif %}
    <strong class="english"><em style="color:dodgerblue">{{word.eng}}</em></strong>
    <strong style="color:gray">{{word.tpi}}</strong>
    </p>
    {% if word.comment %}
        <ul>{{word.comment}}</ul>
    {% endif %}
</div>
