.git*
geckodriver
geckodriver.log
__pycache__
.idea
venv
import
*.md
*.yml
*.txt
deployment_tools/
Logs/CLA*
Logs/debug*
Logs/request*
CLAHub/assets/example_data/
CLAHub/assets/test_data/
CLAHub/fixtures/
CLAHub/functional_tests/
CE/Tests**
people/Tests**
.dockerignore
_CLAHub_database.db
Dockerfile
