geckodriver
geckodriver.log
docker_commands.md
.pytest_cache
data/CLAHub_database.db
data/uploads/CultureEventFiles/
data/uploads/import
data/uploads/people/medical/*.jpg
data/uploads/people/medical/*.JPG
data/uploads/people/profile_pictures/*.jpg
data/uploads/people/profile_pictures/*.JPG
data/uploads/people/thumbnails/*.jpg
data/uploads/people/thumbnails/*.JPG
venv/
Logs/
data_snapshots/
**__pycache__
**.iml
**.xml
local_sync**
/.idea**
**.csv
settings.json
data**
test_highlight.py
data/uploads/people/profile_pictures/.gitkeep
data/uploads/people/thumbnails/.gitkeep
