<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if error %}
    <div class="form-group has-error">
        <span class="alert-warning">{{error}}</span>
    </div>
    {% endif %}
    <table>
        {{ Form.as_table }}
    </table>
    <h2>Participants</h2>
    {{ ParticipantForm.as_p }}
    <script>
    $(function () {
        $('.datetime-input'.datetimepicker({
            format:'DD-MM-YYYY'
            });
        });
    </script>
    <h2>Texts</h2>
    {{ TextForm.as_p }}
    <h2>Picture upload</h2>
    {{ PictureUpload.as_p }}
    <button type="input" class="btn btn-primary">Submit</button>
</form>
