<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if Errors %}
    <div class="form-group has-error">
        {% for error in Errors %}
        <div class="alert alert-danger">{{error}}</div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="container-fluid">
        {{ Form.as_p }}
        </div>
    <hr>

    <div class="container-fluid">
        {% include 'CE/partial/text_form.html' %}
    </div>

    <hr>
    <div class="container-fluid">
        {% include 'CE/partial/visit_form.html' %}
    </div>

    <div class="container-fluid">
        {% include 'CE/partial/questions_form.html' %}
    </div>

<p></p>
    <button type="input" class="btn btn-primary">Submit</button>
</form>



