{% for ce in CEs %}
<ul>
    <div class="card">
        <h5><a href="{% url 'CE:view' ce.pk %}"> {{ ce.title }} </a></h5>
        <h6 class="card-subtitle mb-2 text-muted">Edited {{ce.last_modified}} by {{ce.last_modified_by}}</h6>
        <p class="card-text">{{ce.description}}</p>
        <div>
            {% for tag in ce.tags.all %}
            {% if tag.slug %}
            <a href ="{% url 'CE:view_tag' tag.slug %}" class="{% cycle 'badge badge-primary' 'badge badge-success' 'badge badge-warning' 'badge badge-secondary' 'badge badge-info' 'badge badge-danger' %}">{{tag}}</a>
            {% endif %}
            {% endfor %}
            {% resetcycle %}
        </div>
    </div>
</ul>
{% endfor %}

