<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if Errors %}
    <div class="form-group has-error">
        {% for error in Errors %}
        <div class="alert alert-danger">{{error}}</div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="form-row">
        <div class="col-sm-6">
            {{Form.title.label_tag}}
            {{Form.title}}
        </div>
        <div class="col-sm-6">
            {{Form.tags.label_tag}}
            <small><a href="{% url 'CE:OCM_ref' %}"
                      target="_blank" rek="noopener noreferer">Tell me about OCM tags</a></small>
            {{Form.tags}}
        </div>
    </div>

        {% include 'CE/partial/visit_form.html' %}
    <div class="form-row">
        <div class="col">
            {{Form.description_plain_text.label_tag}}
            {{Form.description_plain_text}}
        </div>
        <div class="col">
            {{Form.differences.label_tag}}
            {{Form.differences}}
            {{Form.interpretation.label_tag}}
            {{Form.interpretation}}
            Add a picture:
            {{Form.picture}}
        </div>
    </div>
    <hr>
    {% include 'CE/partial/text_form.html' %}
    {% include 'CE/partial/questions_form.html' %}

    <button type="input" class="btn btn-primary">Create CE</button>
</form>