<div class="container">
    <div class="row">
        <div class="col-6">
            {% for category in Sections %}
            <h3>{{category}}</h3>
            {% for sub_category_list in OCM %}
            {% if forloop.counter0 == forloop.parentloop.counter0 %}
            {% for sub_category in sub_category_list %}
            {% if sub_category.name in Tags %}
            <ul>
                <a href="tag/{{sub_category.slug}}">{{sub_category.name}}</a>
                <!--call the filter method in CE.views to use the subcategory as a dict lookup-->
                <span class="badge badge-primary badge-pill">{{ Tags|get_item:sub_category.name }}</span>
            </ul>
            {% else %}
            <ul>
                <p>{{sub_category.name}}</p>
            </ul>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
            <br>
            {% endfor %}
         </div>
    </div>
</div>