<div class="container-fluid">
    <h3>Participants</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Team participants</th>
        <th scope="col">National participants</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    {% for occasion in Participants %}
    <td>{{occasion.date}}</td>
    <td>{{occasion.team_participants}}</td>
    <td>{{occasion.national_participants}}</td>
    {% endfor %}
    </tr>
    </tbody>
</table>
    </div>