{{ ParticipationForm.management_form }}


<script type="text/html" id="participants-template">
<div id="participants-__prefix__" class="container-fluid border bg-light">
    <p></p>
    {{ ParticipationForm.empty_form.as_p }}
    <p></p>
</div>
</script>

<h3>Participants</h3>
<div id="participants-form-container">
    <div id="participant-server-items">
        {% for p_form in ParticipationForm %}
        <div class="container-fluid border bg-light" id="participants-{{ forloop.counter0 }}">
            {{ p_form.id }}
            {{ p_form.as_p }}
        </div>
        {% endfor %}
    </div>
</div>
<p></p>

<!--Add new participant button-->
<a href="#" id="add-participant-button" class="btn btn-success add-participant">+</a>

<!--Script to make new form appear-->
<script>
$(document).ready(function() {
    $('.add-participant').click(function(ev) {
        ev.preventDefault();
        var count = $('#participants-form-container').children().length;
        var tmplMarkup = $('#participants-template').html();
        var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
        $('div#participants-form-container').append(compiledTmpl);

        // update form count
        $('#id_participants-TOTAL_FORMS').attr('value', count+1);

    });
});
</script>