{{ QuestionForm.management_form }}
<h2>Questions</h2>

<script type="text/html" id="question-template">
<div id="question-__prefix__" class="container-fluid border bg-light">
    <h3>New Question</h3>
        <div class="form-row">
            <div class="col">
                {{ QuestionForm.empty_form.question.label_tag }}
                {{ QuestionForm.empty_form.question }}
            </div>
            <div class="col">
                {{ QuestionForm.empty_form.answer.label_tag }}
                {{ QuestionForm.empty_form.answer }}
            </div>
        </div>
    <p></p>
</div>
</script>

<p></p>
<div id="questions-form-container">
    <div id="question-server-items">
        {% for question in QuestionForm %}
        <div>
            <div class="form-row" id="question-{{ forloop.counter0 }}">
                {{ question.id }}
                <div class="col">
                <strong>Question {{forloop.counter}}</strong>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    {{ question.question.label_tag }}
                    {{ question.question }}
                </div>
                <div class="col">
                    {{ question.answer.label_tag }}
                    {{ question.answer }}
                </div>
            </div>
            <br>
        </div>
            {% endfor %}

    </div>
</div>

<br>
<!--Add new text button-->
<a href="#" id="add-question-button" class="btn btn-info add-question">Add Question</a>
<hr>
<!--Script to make new form appear-->
<script>
$(document).ready(function() {
    $('.add-question').click(function(ev) {
        ev.preventDefault();
        var count = $('#questions-form-container').children().length + $('#question-server-items').children().length - 1;
        <!--        Div made up of <div>server</div> <div>new</div> <div>new2</div>. Hence count what's in server div and minus 1  -->
        var tmplMarkup = $('#question-template').html();
        var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
        $('div#questions-form-container').append(compiledTmpl);

        // update form count
        $('#id_question-TOTAL_FORMS').attr('value', count+1);

    });
});
</script>