{{ QuestionForm.management_form }}

<script type="text/html" id="question-template">
<div id="question-__prefix__" class="container-fluid border bg-light">
    <p></p>
    {{ QuestionForm.empty_form.as_p }}
    <p></p>
</div>
</script>

<h2>Questions</h2>
<div id="questions-form-container">
    <div id="question-server-items">
        {% for question in QuestionForm %}
        {{ question.id }}
        <div class="container container-fluid" id="question-{{ forloop.counter0 }}">
            {{ question.as_table }}
        </div>
        {% endfor %}
    </div>
</div>
<p></p>

<!--Add new text button-->
<a href="#" id="add-question-button" class="btn btn-info add-question">Add Question</a>

<!--Script to make new form appear-->
<script>
$(document).ready(function() {
    $('.add-question').click(function(ev) {
        ev.preventDefault();
        var count = $('#questions-form-container').children().length;
        var tmplMarkup = $('#question-template').html();
        var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
        $('div#questions-form-container').append(compiledTmpl);

        // update form count
        $('#id_question-TOTAL_FORMS').attr('value', count+1);

    });
});
</script>