{{ QuestionForm.management_form }}
<h2>Questions</h2>

<!--Hidden template that includes form-->
<script type="text/html" id="question-template">
<p></p>
<div id="question-__prefix__" class="container-fluid border bg-light"  >
    {{ QuestionForm.empty_form.as_p }}
    <p></p>
</div>
</script>

<!--Include text forms sent by server-->
<div id="questions-form-container">
    {% for question in QuestionForm %}
        <div id="item-{{ forloop.counter0 }}">
            {{ question.id }}
            {{ question.as_table }}
        </div>
    {% endfor %}
</div>
<p></p>
<!--Add new text button-->
<a href="#" id="add-question-button" class="btn btn-info add-question">Add Question</a>

<!--Script to make new form appear-->
<script>
$(document).ready(function() {
    $('.add-question').click(function(ev) {
        ev.preventDefault();
        var count = $('#questions-form-container').children().length;
        var tmplMarkup = $('#question-template').html();
        var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
        $('div#questions-form-container').append(compiledTmpl);

        // update form count
        $('#id_question-TOTAL_FORMS').attr('value', count+1);

    });
});
</script>