{{ TextForm.management_form }}
<h2>Texts</h2>

<script type="text/html" id="text-template">
<div id="text-__prefix__" class="container-fluid border bg-light"  >
    <br>
    <h3>New text</h3>
    <div class="form-row">
        <div class="col-sm-4">
            {{ TextForm.empty_form.text_title.label_tag }}
            {{ TextForm.empty_form.text_title }}
        </div>
        <div class="col-sm-2">
            {{ TextForm.empty_form.phonetic_standard.label_tag }}
            {{ TextForm.empty_form.phonetic_standard }}
        </div>
        <div class="col-sm-2">
            {{ TextForm.empty_form.discourse_type.label_tag }}
            {{ TextForm.empty_form.discourse_type }}
        </div>
    </div>
    <br>
    <div class="form-row">
        <div class="col-sm-6">
            {{ TextForm.empty_form.speaker_plain_text.label_tag }}
            {{ TextForm.empty_form.speaker_plain_text }}
        </div>
        <div class="col-sm-6">
            {{ TextForm.empty_form.audio.label_tag }}
            {{ TextForm.empty_form.audio }}
        </div>
    </div>
    <br>
    <div class="form-row">
        <!-- <div class="col-sm-6">
            {{ TextForm.empty_form.phonetic_text.label_tag }}
            {{ TextForm.empty_form.phonetic_text }}
        </div> -->
        <div class="col-sm-12">
            {{ TextForm.empty_form.orthographic_text.label_tag }}
            {{ TextForm.empty_form.orthographic_text }}
        </div>
    </div>
</div>
</script>


<div id="text-form-container">
    <div id="text-server-items">
        {% for text_form in TextForm %}
        <div class="container-fluid border bg-light" id="text-{{ forloop.counter0 }}">
            {{ text_form.id }}
            <h3>Text {{forloop.counter}}</h3>
            <div class="form-row">
                <div class="col-sm-4">
                    {{ text_form.text_title.label_tag }}
                    {{ text_form.text_title }}
                </div>
                <div class="col-sm-2">
                    {{ text_form.phonetic_standard.label_tag }}
                    {{ text_form.phonetic_standard }}
                </div>
                <div class="col-sm-2">
                    {{ text_form.discourse_type.label_tag }}
                    {{ text_form.discourse_type }}
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="col-sm-6">
                    {{ text_form.speaker_plain_text.label_tag }}
                    {{ text_form.speaker_plain_text }}
                </div>
                <div class="col-sm-6">
                    {{ text_form.audio.label_tag }}
                    {{ text_form.audio }}
                </div>
            </div>
            <br>
            <div class="form-row">
                <!-- <div class="col-sm-6">
                    {{ text_form.phonetic_text.label_tag }}
                    {{ text_form.phonetic_text }}
                </div> -->
                <div class="col-sm-12">
                    {{ text_form.orthographic_text.label_tag }}
                    {{ text_form.orthographic_text }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br>

<!--Add new text button-->
<a href="#" id="add-text-button" class="btn btn-info add-text">Add Text</a>
<br>
<br>
<!--Script to make new form appear-->
<script>
$(document).ready(function() {
    $('.add-text').click(function(ev) {
        ev.preventDefault();
        var count = $('#text-form-container').children().length + $('#text-server-items').children().length -1;
<!--        Div made up of <div>server</div> <div>new</div> <div>new2</div>. Hence count what's in server div and minus 1  -->

        var tmplMarkup = $('#text-template').html();
        var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
        $('div#text-form-container').append(compiledTmpl);

        // update form count
        $('#id_text-TOTAL_FORMS').attr('value', count+1);

        // some animate to scroll to view our new form
        var newDiv = 'text-' + count
        $('html, body').animate({
                scrollTop: $(`div#${newDiv}`).position().top-10
            }, 800);
    });
});
</script>