{{ TextForm.management_form }}
<h2>Texts</h2>

<script type="text/html" id="text-template">
<div id="text-__prefix__" class="container-fluid border bg-light"  >
    <p></p>
    <h3>New text</h3>
    {{ TextForm.empty_form.as_p }}
    <p></p>
</div>
</script>


<div id="text-form-container">
    <div id="text-server-items">
        {% for text_form in TextForm %}
        <div class="container-fluid border bg-light" id="text-{{ forloop.counter0 }}">
            <h3>Text {{forloop.counter}}</h3>
            {{ text_form.id }}
            {{ text_form.as_p }}
        </div>
        {% endfor %}
    </div>
</div>
<p></p>

<!--Add new text button-->
<a href="#" id="add-text-button" class="btn btn-info add-text">Add Text</a>

<!--Script to make new form appear-->
<script>
$(document).ready(function() {
    $('.add-text').click(function(ev) {
        ev.preventDefault();
        var count = $('#text-form-container').children().length;
        var tmplMarkup = $('#text-template').html();
        var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
        $('div#text-form-container').append(compiledTmpl);

        // update form count
        $('#id_text-TOTAL_FORMS').attr('value', count+1);

        // some animate to scroll to view our new form
        $('html, body').animate({
                scrollTop: $("#add-item-button").position().top-200
            }, 800);
    });
});
</script>