{{ TextForm.management_form }}
<h2>Texts</h2>

<!--Hidden template that includes form-->
<script type="text/html" id="item-template">
<p></p>
<div id="item-__prefix__" class="container-fluid border bg-light"  >
    <h3>Text __prefix__</h3>
    {{ TextForm.empty_form.as_p }}
    <p></p>
</div>
</script>

<!--Include text forms sent by server-->
<div id="items-form-container">
    {% for text_form in TextForm %}
        <div id="item-{{ forloop.counter0 }}">
            {{ text_form.id }}
            {{ text_form.as_table }}
        </div>
    {% endfor %}
</div>
<p></p>
<!--Add new text button-->
<a href="#" id="add-item-button" class="btn btn-info add-item">Add Text</a>

<!--Script to make new form appear-->
<script>
$(document).ready(function() {
    $('.add-item').click(function(ev) {
        ev.preventDefault();
        var count = $('#items-form-container').children().length;
        var tmplMarkup = $('#item-template').html();
        var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
        $('div#items-form-container').append(compiledTmpl);

        // update form count
        $('#id_text-TOTAL_FORMS').attr('value', count+1);

        // some animate to scroll to view our new form
        $('html, body').animate({
                scrollTop: $("#add-item-button").position().top-200
            }, 800);
    });
});
</script>