<div class="container-fluid">
    <h3>Participants</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Team participants</th>
            <th scope="col">National participants</th>
        </tr>
    </thead>
    <tbody>
        {% for occasion in Visits %}
        <tr>
            <td>{{occasion.date}}</td>
            <td>{{occasion.team_present}}</td>
            <td>{{occasion.nationals_present}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    </div>