{{ VisitForm.management_form }}


<script type="text/html" id="visit-template">
<div id="visit-__prefix__" class="container-fluid border bg-light">
    <div class="container-fluid border bg-light" id="NewVisit-{{ forloop.counter0 }}">
            <div class="form-row">
                <div class="col-sm-4">
                    {{ VisitForm.empty_form.team_present.label_tag }}
                    {{ VisitForm.empty_form.team_present }}
                </div>
                <div class="col-sm-4">
                    {{ VisitForm.empty_form.nationals_present.label_tag }}
                    {{ VisitForm.empty_form.nationals_present }}
                </div>
                <div class="col-sm-2">
                    {{ VisitForm.empty_form.date.label_tag }}
                    {{ VisitForm.empty_form.date }}
                </div>
                <div class="col-sm-2">
                    <br>
                    {{ VisitForm.empty_form.DELETE.label_tag }}
                    {{ VisitForm.empty_form.DELETE }}
                </div>
            </div>
        <br>
    </div>
</div>
</script>
<br>
<h3>Visits</h3>
<div id="visit-form-container">
    <div id="visit-server-items">
        {% for p_form in VisitForm %}
        <div class="container-fluid border bg-light" id="visit-{{ forloop.counter0 }}">
            {{ p_form.id }}
            <div class="form-row">
                <div class="col-sm-4">
                    {{ p_form.team_present.label_tag }}
                    {{ p_form.team_present }}
                </div>
                <div class="col-sm-4">
                    {{ p_form.nationals_present.label_tag }}
                    {{ p_form.nationals_present }}
                </div>
                <div class="col-sm-2">
                    {{ p_form.date.label_tag }}
                    {{ p_form.date }}
                </div>
                <div class="col-sm-2">
                    <br>
                    {{ p_form.DELETE.label_tag }}
                    {{ p_form.DELETE }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
</div>

<!--Add new visit button-->
<a href="#" id="add-visit-button" class="btn btn-info add-visit">Add a visit</a>
<hr>

<!--Script to make new form appear-->
<script>
$(document).ready(function() {
    $('.add-visit').click(function(ev) {
        ev.preventDefault();
        var count = $('#visit-form-container').children().length;
        var tmplMarkup = $('#visit-template').html();
        var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
        $('div#visit-form-container').append(compiledTmpl);

        // update form count
        $('#id_visit-TOTAL_FORMS').attr('value', count+1);

    });
});
</script>