<div class="card" style="width: 8rem;">
        {% if person.thumbnail %}
        <a href="{% url 'people:detail' person.pk %}">
            <img src="{{person.thumbnail.url}}" class="img-thumbnail" alt="profile_pic">
        </a>
        {% else %}
        <a href="{% url 'people:detail' person.pk %}">
            <img src="..." class="img-thumbnail" alt="Missing profile pic">
        </a>
        {% endif %}
        <div class="card-body">
            <p class="card-text">{{person.name}} <small>ID:{{person.pk}}</small>  {% if person.death %} (Deceased) {% endif %}</p>
        </div>
    </div>