<div class="container">
    <h3>{{event.date}}: {{event.short}} <a href="{% url 'people:edit_assessment' Person.pk event.pk %}"><small>Edit</small></a></h3>
    <h4>S</h4>
    <p>{{event.subjective|safe}}</p>
    <h4>O</h4>
    <p>{{event.objective|safe}}</p>
    <h4>A</h4>
    <p>{{event.assessment|safe}}</p>
    <h4>P</h4>
    <p>{{event.plan|safe}}</p>
    {% if event.comment %}
    <h4>Comments</h4>
    <p>{{event.comment|safe}}</p>
    {% endif %}
    {% if event.image %}
    <img src="{{event.image.url}}" class="img-thumbnail" alt="medical_pic">
    {% endif %}
</div>
