#!/usr/bin/python3

import subprocess

cmd = 'cd {{installation_dir}};\
        export DJANGO_SUPERUSER_USERNAME=admin;\
        export DJANGO_SUPERUSER_EMAIL=email@email.com;\
        export DJANGO_SUPERUSER_PASSWORD=CLAHub;\
        source venv/bin/activate;\
        python manage.py collectstatic;\
        python manage.py migrate;\
        python manage.py createsuperuser --noinput;'
subprocess.call(cmd, shell=True, executable='/bin/bash')