{% extends 'base.html' %}
{% block page_content %}


 <div class="col-sm-10">
        <br>
        <h2>People Alphabetically</h2>
        {% for person in People %}
        {% if forloop.first %}
        <div class="row">
            {% endif %}
            {% include 'people/partial/person_card.html' %}
            {% if forloop.counter|divisibleby:"10" %} </div><div class="row"> {% endif %}
            {% if forloop.last %} </div> {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}