{% extends 'base.html' %}
{% block page_content %}
<div class="container">
    <a href="{% url 'people:edit' person.pk %}">Edit</a>
    <div class="row">
        <div class="col-4">
            {% if person.picture %}
            <img src="{{person.picture.url}}" class="img-thumbnail" alt="profile_pic">
            {% else %}
            <br>
            <img src="..." class="img-thumbnail" alt="Missing profile pic">
            {% endif %}
        </div>
        <div class="col-8">
            <h1>{{person.name}} {% if person.death %} (Deceased) {% endif %}</h1>
            <small>Last edited by {{person.last_modified_by}}</small>
            <br>
            <ul>
                <br>
                <strong>from: </strong>
                <a href="{% url 'people:village' person.village %}" >
                    {{ person.get_village_display }}</a>
            </ul>
            <ul>
                {% if person.born %}
                <strong>born: </strong>
                {{ person.born }}   (age {{age}})
                {% else %}
                <strong>born: </strong>Unknown
                {% endif %}
            </ul><ul>
                <strong>clan: </strong>
                {{ person.clan }}
            </ul>
            </ul><ul>
                <strong>education: </strong>
                {{ person.get_education_display }}
            </ul><ul>
            <strong>dialect:</strong>
            {{ person.dialect }}
        </ul>
        </div>
    </div>
    <br>
    <div class="container">
        <h4>Notes</h4>
        {{ person.team_contact }}
        <br><br>
        <h4>Family</h4>
        {{ person.family }}
        <br><br>

        <h4>Medical history</h4>
        {{ person.medical }}
    </div>
</div>

{% endblock %}