{% extends 'base.html' %}

{% block page_content %}
<head>
    <title>CE Home</title>
</head>

<div class = container-fluid>
    <h1>CE Home</h1>
        <div class="row">
            <div class="col">
                <a href="{% url 'CE:new' %}" class="btn btn-primary btn-lg active" role="button" id="create_CE" aria-pressed="true">Create CE</a>
            </div>
            <div class="col">
                {% include 'partial/search_bar.html' %}
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h2>Most recently edited Culture events:</h2>
    {% include 'CE/partial/CE_list.html' %}
</div>

{% endblock %}
