{% extends 'base.html' %}

{% block page_content %},
<h1>Culture tags reference</h1>
<p>Culture tagging is a simple system that enables Culture Events to be
tagged and grouped together to build a picture of an area of culture</p>
<p>CLAHub's tag system is very flexible and you can use whatever tags you like, but there is built in
support for certain culture tags. </p>
<p>The first tag is '1-1 Geography & Weather'. That's quite a bit of typing if you want use that tag.
For convinience all you need to do is type '1-1' and CLAHub will write the rest of the tag for you. '1-1'
will become '1-1 Geography & Weather' automatically on save. An entry will also be created on the Culture tags 1-1
page. Later on you can browse there and see all the CEs with any data on Geography & Weather in one place.</p>
<p>You as a cultural investigator will have to analyse the data from those Culture Events to draw conclusions
on that area of culture, but at least CLAHub is doing the hard work of organising and tagging!</p>
<hr>
<h2>The Culture tags</h2>
{% include 'CE/partial/OCM_plain_list.html' %}

<small>This outline is drawn from the work of Michael Matthews in 'A Novel Approach:
    The Significance of Story in Interpreting and Communicating Reality'  ISBN-13 : 978-1773028903 </small>
{% endblock %}