{% extends 'base.html' %}
{% block page_content %}

<div class="container-fluid">
    <h1>Questions</h1>
    <div class="btn=group" role="group" aria-label="Filter options" >
        <a href="{% url 'CE:questions_alph' %}" role="button" class="btn btn-secondary">Alphabetically</a>
        <a href="{% url 'CE:questions_chron' %}" role="button" class="btn btn-secondary">Chronologically</a>
        <button type="button" class="btn btn-primary">Unanswered</button>
        <a href="{% url 'CE:questions_recent' %}" role="button" class="btn btn-secondary">Recently answered</a>
    </div>
    <p>Unanswered questions only are shown</p>
</div>

{% include 'CE/partial/question_table.html' %}
{% include 'partial/pagination.html' %}

{% endblock %}