{% extends 'base.html' %}
{% block page_content %}

<div class="container-fluid">
    <h1>Questions</h1>
    <div class="btn=group" role="group" aria-label="Filter options" >
        <a href="{% url 'CE:questions_alph' %}" role="button" class="btn btn-secondary">Alphabetically</a>
        <button type="button" class="btn btn-primary">Chronologically</button>
        <a href="{% url 'CE:questions_unanswered' %}" role="button" class="btn btn-secondary">Unanswered</a>
        <a href="{% url 'CE:questions_recent' %}" role="button" class="btn btn-secondary">Recently answered</a>
    </div>
    <p>Ordered most recently asked question first</p>
</div>

<div class="container-fluid border">
    <h3><a href="{{ce.id}}">{{ ce.title }}</a></h3>
    <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Question</th>
        <th scope="col">Asked by</th>
        <th scope="col">Culture Event</th>
        <th scope="col">Answer</th>
        <th scope="col">Answered by</th>
    </tr>
    </thead>

    <tbody>
    {% for q in Questions %}
    <tr>
        <td>{{q.question}}</td>
        <td>{{q.asked_by}} on {{q.date_created}}</td>
        <td><a href="{% url 'CE:view' q.ce.pk%}">{{q.ce.title}}</a></td>
        <td>{{q.answer}}</td>
        <td>{{q.answered_by}}</td>
    </tr>
    {% endfor %}

    </tbody>
</table>
</div>
<p></p>

{% include 'partial/pagination.html' %}

{% endblock %}