{% extends 'base.html' %}
{% block page_content %}

<div class="container-fluid">
    <h1>Questions</h1>
    <div class="btn=group" role="group" aria-label="Filter options" >
        <button type="button" class="btn btn-primary">Alphabetical</button>
        <a href="{% url 'CE:questions_chron' %}" role="button" class="btn btn-secondary">Chronologically</a>
        <a href="{% url 'CE:questions_unanswered' %}" role="button" class="btn btn-secondary">Unanswered</a>
        <a href="{% url 'CE:questions_recent' %}" role="button" class="btn btn-secondary">Recently edited</a>
    </div>
    <p>Ordered alphabetically by CE</p>
</div>

{% include 'CE/partial/question_table.html' %}


{% endblock %}