{% extends 'base.html' %}

{% block page_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-5">
            <h1>{{ CE.title }}</h1>
            <p class="text-muted">last edited {{CE.last_modified}} by {{CE.last_modified_by}}</p>
        </div>
        <div class="col-2">
            <p></p>
            <a href="{% url 'CE:edit' CE.pk %}" class="btn btn-info">Click here to edit</a>
        </div>
    </div>
</div>
<hr>

<h3>Tags</h3>
{% for tag in Tags %}
<p>{{tag}}</p>
{% endfor %}

{% include 'CE/partial/participants_table.html' %}

<div class="container-fluid bg-light">
<h3>Description</h3>
    {% if not CE.description %}
    <p>No description, why don't you add something?</p>
    {% else %}
{% autoescape off %}
<p>{{ CE.description }}</p>
{% endautoescape %}
{% endif %}
</div>
{% if CE.differences %}
<div class="container-fluid">
<h3>Variation</h3>
<p> {{ CE.differences }}</p>
</div>
{% endif %}
<div class="container-fluid">
{% if CE.interpretation %}
<h3>Interpretation</h3>
<p> {{ CE.interpretation }}</p>
</div>
</div>
{% endif %}

{% if Pics %}
{% include 'CE/partial/bootstrap_carousel.html' %}
{% endif %}

<div class="container-fluid">
{% if Texts %}
    <h3>Texts</h3>
    {% for text in Texts %}
    <div class="container-fluid border">
    <h4>Text {{forloop.counter}}</h4>
    {% if text.audio %}
    <audio controls> <source src="{{text.audio.url}}"></audio>
    {% endif %}
    {% if text.phonetic_text %}
    <h4>Phonetic text</h4>
    <p> {{ text.phonetic_text }}</p>
    {% endif %}
    {% if text.orthographic_text %}
    <h4>Orthographic text</h4>
    <p> {{ text.orthographic_text }}</p>
    {% endif %}
    </div>
    <p></p>
    {% endfor %}
{% endif %}
</div>

<div class="container-fluid">
    {% if Questions %}
    <p></p>
    <h3>Questions</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Question</th>
        <th scope="col">Asked by</th>
        <th scope="col">Answer</th>
        <th scope="col">Answered by</th>
    </tr>
    </thead>
    <tbody>
    {% for q in Questions %}
    <td>{{q.question}}</td>
    <td>{{q.asked_by}} on {{q.date_created}}</td>
    <td>{{q.answer}}</td>
    <td>{{q.answered_by}}</td>
    {% endfor %}
    </tbody>
</table>
</div>
{% endif %}
</div>

<p></p>

{% endblock %}
