{% extends 'base.html' %}

{% block page_content %}

<h1>{{ CE.title }}</h1>
<p class="text-muted">last edited {{CE.last_modified}} by {{CE.last_modified_by}}</p>
<a href="{% url 'CE:edit' CE.pk %}">Click here to edit</a>
<h3>Participants</h3>
{% include 'CE/partial/participants_table.html' %}
<h3>Description</h3>
{% autoescape off %}
<p>{{ CE.description }}</p>
{% endautoescape %}
<h3>Variation</h3>
<p> {{ CE.differences }}</p>

{% include 'CE/partial/bootstrap_carousel.html' %}

<h2>Texts</h2>
{% if Texts %}
    {% for text in Texts %}
    {% if text.audio.url %}
    <audio controls> <source src="{{text.audio.url}}"></audio>
    {% endif %}
    {% if text.phonetic_text %}
    <h4>Phonetic text</h4>
    <p> {{ text.phonetic_text }}</p>
    {% endif %}
    {% if text.orthographic_text %}
    <h4>Orthographic text</h4>
    <p> {{ text.orthographic_text }}</p>
    {% endif %}
    {% endfor %}
{% else %}
<p>No texts added yet</p>
{% endif %}


{% endblock %}