{% extends 'base.html' %}

{% block page_content %}

<h1>Realms of reality</h1>
<h3>Who am I (individuals)– Self/identity Realm</h3>
<p>Major assumptions regarding how individuals in the target group tend to view their personal...</p>
<ul>Basis of identity</ul>
<ul>Sense of worth</ul>
<ul>Sexuality/gender</ul>
<ul>Sense of control</ul>
<ul>Place in the world/Sense of Belonging</ul>

<h3>Who are we? (community) – Social Realm</h3>
<p>Major assumptions regarding how the community of the target group view...</p>
<ul>The institution of family</ul>
<ul>Their ethnicity and nationality</ul>
<ul>Their relationship with other ethnic groups and nationalities</ul>
<ul>The nature of humanity</ul>

<h3>Where are we? – Natural Realm</h3>
<ul>Origin of the natural world</ul>
<ul>Relationship of the natural world with the supernatural world</ul>
<ul>Human relationship with and responsibility for the natural world</ul>
<ul>Nature/condition of the natural realm (including its beginning and end)</ul>
<ul>Concept of ownership in the natural world</ul>
<ul>Purpose/destiny of the natural world</ul>
<ul>Concept of time</ul>

<h3>What & how do we know? – Knowledge realm</h3>
<ul>Ultimate source of knowledge and truth</ul>
<ul>Acquisition of knowledge and truth</ul>
<ul>Transference of knowledge and truth</ul>
<ul>Validity of knowledge and truth</ul>
<ul>Limit of knowledge and truth</ul>

<h3>Who is in control? – Authority Realm</h3>
<ul>Arena of control</ul>
<ul>Person or group in control</ul>
<ul>Nature of person or group in control</ul>
<ul>Nature of control</ul>
<ul>Assumptions regarding anarchy</ul>

<h3>How and why do things happen? – Cause and effect Realm</h3>
<ul>Observable Phenomenon/Effect</ul>
<ul>Observable or Assumed Cause/Origin</ul>
<ul>Assumptions Regarding the Cause and/or Effect</ul>
<ul>Assumptions regarding ultimate cause</ul>
<ul>Assumptions regarding human intervention</ul>

<h3>Where do things belong? – Classification Realm</h3>
<p>Put persons, places, and things of interest where they are assumed to belong</p>
<ul>Supernatural Real Living</ul>
<ul>Supernatural Real Non-living</ul>
<ul>Supernatural Not Real Living</ul>
<ul>Supernatural Not Real Non-living</ul>
<ul>Natural Real Living</ul>
<ul>Natural Real Non-living</ul>
<ul>Natural Not Real Living</ul>
<ul>Natural Not Real Non-living</ul>

<h3>Who are the Gods? – Supernatural Realm</h3>
<ul>Assumptions regarding this being’s character, nature, power, origin, destiny, and relationship/involvement with human life</ul>
<ul>Assumptions regarding this force’s character, nature, power, origin, destiny, and relationship/involvement with human life</ul>
<ul>Assumptions regarding free will</ul>

<h3>What is right and wrong? – Ethics/morality Realm</h3>
<ul>Ultimate basis of morality (and/or honor, and/or purity, and/or power)</ul>
<ul>Rewards & consequences of behavior (whether right/wrong, shameful/honorable, pure/impure, power/fear)</ul>
<ul>How relationships are made right when there has been an offense</ul>
<ul>What things (ideas, concepts, behavior, actions, persons, objects, etc.) are assumed to be right/good (and/or honorable, and/or pure, and/or powerful/to be feared)</ul>
<ul>What things (ideas, concepts, behavior, actions, persons, objects, etc.) are assumed to be neutral/“gray areas”</ul>
<ul>What things (ideas, concepts, behavior, actions, persons, objects, etc.) are assumed to be wrong/bad (and/or shameful, and/or impure, and/or fearful)</ul>

<h3>Why are we here? – Purpose/destiny Realm</h3>
<ul>Beginning of human life</ul>
<ul>Nature and purpose of human life here and now</ul>
<ul>Existence of evil and the purpose of suffering</ul>
<ul>Ultimate destiny of humans</ul>


{% endblock %}